MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=ticket_system
MYSQL_USER=ticket_app
MYSQL_PASSWORD=ticket_dev_change_me
MAILHOG_HOST=127.0.0.1
MAILHOG_SMTP_PORT=1025
MAIL_FROM=yzainan@datapulsetechnologies.org
